/* COLORS */

:root {
  /* Primary */
  --violet: hsl(263, 55%, 52%);
  --greyblue: hsl(217, 19%, 35%);
  --blackblue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);

  /* Neutral */
  --lightgrey: hsl(0, 0%, 81%);
  --lightgreyblue: hsl(210, 46%, 95%);
}

/* GENERAL */

html {
  background-color: var(--lightgreyblue);
}

body {
  /* FW: 500, 600 */
  display: grid;
  place-content: center;
  align-items: center;
  min-height: 100vh;

  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 0.8rem;
  margin: 0 auto;
  padding: 2.2rem;
}

.flex-header {
  display: flex;
  align-items: center;

  margin-bottom: 1.2rem;
}

/* .grid--col-span-2 {
  grid-template-columns: repeat(2, 1fr);
} */

.footer {
  margin-top: 1rem;
  text-align: center;
}

a:link,
a:active,
a:hover,
a:visited {
  color: var(--blackblue);
  font-weight: 500;
}

/* STYLING */
.grid {
  display: grid;
  row-gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

.card {
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.06);
}

.avatar {
  width: 35px;
  height: 35px;

  border-radius: 50%;
}

.name,
.verified {
  margin-left: 14px;
}

.name {
  font-weight: 500;
}

.verified {
  opacity: 50%;
  font-size: 0.7rem;
}

.testimonial-header {
  font-weight: 600;
  margin-bottom: 1.1rem;
  font-size: 1.3rem;
}

.testimonial {
  opacity: 70%;
  font-size: 0.8rem;
}

.card__daniel {
  background-color: var(--violet);
  color: var(--white);

  background-image: url(/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 90% 0;
}

.avatar__border {
  border: 2px solid hsl(263, 87%, 65%);
}

.card__jonathan {
  background-color: var(--greyblue);
  color: var(--white);
}

.card__jeanette {
  background-color: var(--white);
  color: var(--greyblue);
}

.card__patrick {
  background-color: var(--blackblue);
  color: var(--white);
}

.card__kira {
  background-color: var(--white);
  color: var(--greyblue);
}

@media (max-width: 75em) {
  .grid {
    display: flex;
    flex-direction: column;
  }
  .card {
    max-width: 325px;
  }
}

@media (min-width: 75em) {
  .grid {
    max-width: 70rem;
    /* margin: 10rem; */
    grid-template-areas:
      "cardone cardone cardtwo cardfive"
      "cardthree cardfour cardfour cardfive";

    column-gap: 2rem;
  }

  .card__daniel {
    grid-area: cardone;
  }

  .card__jonathan {
    grid-area: cardtwo;
  }

  .card__jeanette {
    grid-area: cardthree;
  }

  .card__patrick {
    grid-area: cardfour;
  }
  .card__kira {
    grid-area: cardfive;
  }
}
